<div class="container">
  <form class="form-signin" action="/login" method="POST">
    <h2 class="form-signin-heading">Please log in</h2>
    <% if flash.has?(:message) %>
      <p style="color:red;"> <%= flash[:message] %> </p>
    <% end %>
    <label for="inputEmail" class="sr-only" >Email address</label>
    <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    Don't have an account? <a href="/signup">Sign up</a>
  </form>
</div>
