<div class="container">
  <form class="form-signin" action="/challenges/<%=@challenge.slug%>" method ="POST" >
    <input type="hidden" id="hidden" name="_method" value="patch">
    <h4>Challenge Name</h4>
    <div class="input-group">
      <input type="text" class="form-control" name="name" value="<%=@challenge.name%>" aria-describedby="basic-addon1" required autofocus>
    </div>
    <h4>Target Budget</h4>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">$</span>
      <input type="number" step="0.01" name="budget" class="form-control" value="<%=sprintf("%.2f", @challenge.budget)%>" aria-describedby="basic-addon1" required>
    </div>
    <br>
    <button type="submit" class="btn btn-primary btn-lg">Edit Challenge</button>
  </form>
</div>
